@import "../../_base.scss";

.life {
  position: relative;
  width: 100vw;
  // height: 100vh;
  height: 100%;
  background: url(./image/bg_a.jpg) no-repeat center center;
  // background-size: 100% 100%;
  background-size: cover;

  &.a {
    background: url(./image/bg_a.jpg) no-repeat center center;
    // background-size: 100% 100%;
    background-size: cover;
  }
  &.b {
    background: url(./image/bg_b.jpg) no-repeat center center;
    // background-size: 100% 100%;
    background-size: cover;
  }
  &.c {
    background: url(./image/bg_c.jpg) no-repeat center center;
    // background-size: 100% 100%;
    background-size: cover;
  }
  &.d {
    background: url(./image/bg_d.jpg) no-repeat center center;
    // background-size: 100% 100%;
    background-size: cover;
  }
  &.e {
    background: url(./image/bg_e.jpg) no-repeat center center;
    // background-size: 100% 100%;
    background-size: cover;
  }
  &.f {
    background: url(./image/bg_f.jpg) no-repeat center center;
    // background-size: 100% 100%;
    background-size: cover;
  }

  .tab {
    position: fixed;
    right: px2vw(20px);
    bottom: px2vw(20px);
    left: px2vw(20px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: px2vw(110px);

    li {
      width: px2vw(110px);
      height: px2vw(110px);

      border-radius: px2vw(8px);
    }


    li:nth-child(1) {
      background: #fff url(./image/a.png) no-repeat center center;
      background-size: px2vw(64px) px2vw(84px);
    }
    li:nth-child(1).active {
      box-shadow: 0 0 0 px2vw(4px) rgb(245, 166, 35) inset;
    }
    li:nth-child(2) {
      background: #fff url(./image/b.png) no-repeat center center;
      background-size: px2vw(55px) px2vw(86px);
    }
    li:nth-child(2).active {
      box-shadow: 0 0 0 px2vw(4px) rgb(232, 0, 0) inset;
    }
    li:nth-child(3) {
      background: #fff url(./image/c.png) no-repeat center center;
      background-size: px2vw(36px) px2vw(86px);
    }
    li:nth-child(3).active {
      box-shadow: 0 0 0 px2vw(4px) rgb(77, 71, 236) inset;
    }
    li:nth-child(4) {
      background: #fff url(./image/d.png) no-repeat center center;
      background-size: px2vw(40px) px2vw(88px);
    }
    li:nth-child(4).active {
      box-shadow: 0 0 0 px2vw(4px) rgb(207, 109, 0) inset;
    }
    li:nth-child(5) {
      background: #fff url(./image/e.png) no-repeat center center;
      background-size: px2vw(63px) px2vw(81px);
    }
    li:nth-child(5).active {
      box-shadow: 0 0 0 px2vw(4px) rgb(79, 79, 79) inset;
    }
    li:nth-child(6) {
      background: #fff url(./image/f.png) no-repeat center center;
      background-size: px2vw(63px) px2vw(82px);
    }
    li:nth-child(6).active {
      box-shadow: 0 0 0 px2vw(4px) rgb(245, 166, 35) inset;
    }
  }
}

.life_show {
  text-align: center;
  padding: 0 0 px2vw(130px);

  img {
    width: px2vw(705px);
    margin: px2vw(20px) auto;
  }
}

.life_ani {

  img {
    position: absolute;
    left: px2vw(28px);
  }

  img:nth-child(1) {
    width: px2vw(426px);
    height: px2vw(45px);

    bottom: px2vw(472px);
  }

  img:nth-child(2) {
    width: px2vw(585px);
    height: px2vw(240px);

    bottom: px2vw(190px);
  }
}

.ranliao_show {
  text-align: center;
  padding: 0 0 px2vw(130px);

  img {
    width: 100%;
    margin: px2vw(20px) auto;
  }

  img:nth-child(2) {
    width: px2vw(469px);
  }

  img:nth-child(3),
  img:nth-child(4) {
    width: px2vw(690px);
  }
}

.ranliao_ani {

  img {
    position: absolute;
    left: px2vw(47px);
  }

  img:nth-child(1) {
    width: px2vw(149px);
    height: px2vw(73px);

    bottom: px2vw(481px);
  }

  img:nth-child(2) {
    width: px2vw(496px);
    height: px2vw(243px);

    bottom: px2vw(205px);
  }
}

.duwu_show {
  text-align: center;
  padding: 0 0 px2vw(130px);

  img {
    width: px2vw(690px);
    margin: px2vw(20px) auto;
  }
}

.duwu_ani {

  img {
    position: absolute;
    left: px2vw(33px);
  }

  img:nth-child(1) {
    width: px2vw(192px);
    height: px2vw(91px);

    bottom: px2vw(274px);
  }

  img:nth-child(2) {
    width: px2vw(607px);
    height: px2vw(54px);

    bottom: px2vw(190px);
  }
}

.jijie_show {
  text-align: center;
  padding: 0 0 px2vw(130px);

  img {
    width: px2vw(690px);
    margin: px2vw(20px) auto;
  }
}

.jijie_ani {

  img {
    position: absolute;
    left: px2vw(38px);
  }

  img:nth-child(1) {
    width: px2vw(428px);
    height: px2vw(94px);

    bottom: px2vw(350px);
  }

  img:nth-child(2) {
    width: px2vw(288px);
    height: px2vw(122px);

    bottom: px2vw(196px);
  }
}

.xianliang_show {
  text-align: center;
  padding: 0 0 px2vw(130px);

  img {
    width: px2vw(690px);
    margin: px2vw(20px) auto;
  }
}

.xianliang_ani {

  img {
    position: absolute;
    left: px2vw(25px);
  }

  img:nth-child(1) {
    width: px2vw(448px);
    height: px2vw(65px);

    bottom: px2vw(463px);
  }

  img:nth-child(2) {
    width: px2vw(668px);
    height: px2vw(260px);

    bottom: px2vw(197px);
  }
}

.rensheng42_show {
  text-align: center;
  padding: 0 0 px2vw(130px);

  img {
    width: px2vw(690px);
    margin: px2vw(20px) auto;
  }
}
