@import "../../_base.scss";

.swiper-brand {
  width: 100vw;
  height: 100vh;

  .img {
    display: block;
    width: px2vw(420px);
    height: px2vw(330px);
    margin: px2vw(433px) 0 0 px2vw(123px);

    background: url(./image/bg_a.png) no-repeat center center;
    background-size: 100% 100%;
  }

  .tit {
    width: px2vw(315px);
    height: px2vw(110px);
    margin: px2vw(29px) 0 0 px2vw(123px);

    background: url(./image/bg_b.png) no-repeat center center;
    background-size: 100% 100%;
  }

  .pop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;

    background: url(./image/bg_a.png) no-repeat center center;
    background-size: 100% 100%;

    &.show {
      display: block;
    }
  }
}
