@import "../../_base.scss";

.swiper-clothing {
  width: 100vw;
  height: 100vh;

  .img {
    display: block;
    width: px2vw(504px);
    height: px2vw(690px);
    margin: px2vw(322px) auto 0;

    background: url(./image/life.png) no-repeat center center;
    background-size: 100% 100%;
  }

  .tit {
    width: px2vw(504px);
    margin: px2vw(12px) auto 0;
    text-align: left;
    color: rgba(0, 0, 0, .5);
  }

  .pop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;

    background: url(./image/bg_a.png) no-repeat center center;
    background-size: 100% 100%;

    &.show {
      display: block;
    }
  }
}
